@import "tailwindcss";

@theme {
  --font-primary: "Primary";
  --font-secondary: "Secondary";

  --color-brand-pink: rgb(144, 41, 91);
}

@layer base {
  @font-face {
    font-family: "Primary";
    src: url("/fonts/Primary.ttf") format("truetype");
  }

  @font-face {
    font-family: "Secondary";
    src: url("/fonts/Secondary.ttf") format("truetype");
  }

  :root,
  body,
  #root {
    @apply h-full;
  }

  button:hover:not(:disabled) {
    @apply cursor-pointer;
  }
}
